@import 'common';

ul {
  li + li {
    margin-top: 8px;
  }

  li {
    display: flex;
    padding: $base-padding;
    background-color: #FFFFFF;
    border-radius: $border-radius;
  }
}


.action-container {
  display: flex;
  justify-content: space-between;

  proec-button {
    display: flex;
    align-items: center;
    svg {
      width: 24px;
      fill: currentColor;
      & + span {
        margin-left: 4px;
      }
    }
  }
  
}