@import 'common';

:host {
  width: 100%;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      font-weight: bold;
      
      & > img {
        border-radius: 24px;
      }

      .icon-button {
        width: 24px;
        border-radius: 24px;
    
        .delete {
          fill: $secondary-color;
        }
    
        .edit {
          fill: currentColor;
        }
      }
    }
  }
}

