@import 'common';

form {
  padding: $base-padding;

  label {
    display: block;
    color: #C9CDDC;
    font-weight: bold;

    & + label {
      margin-top: calc(#{$base-margin} * 3);
    }
  
    input, textarea {
      width: 95%;
      margin-top: 4px;
    }
  
    textarea {
      resize: vertical;
    }
  }
}
