@import 'common';

:host {
  display: inline-block;
  padding: $base-padding;
  border-radius: $border-radius;
  border: 1px solid #DDDDDD;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
  color: #8c8c8c;
  font-weight: bold;
  cursor: pointer;

  &.is-primary {
    color: #FFFFFF;
    background-color: $primary-color;
  }

  &.is-secondary {
    color: #FFFFFF;
    background-color: $secondary-color;
  }

  &:hover {
    opacity: .6;
  }
}
