:host {
  position: fixed;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  background-color: #F6F6F6;
  box-shadow: -10px 0px 14px rgba(201, 205, 220, 0.2);
  transition: all ease-in-out .5s
}